@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gcp-blue: #4285f4;
  --gcp-red: #ea4335;
  --gcp-yellow: #fbbc04;
  --gcp-green: #34a853;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}